/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

h2 {
  font-family: 'Sigmar One', cursive;
}

#purple-space {
  height: 30px;
}

#kirby {
  opacity: .7;
}

#img-link:hover {
  opacity: .7;
  cursor: pointer;
}